In [4]:
import streamlit as st
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import  mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np 
import mlflow.sklearn
from mlflow.models import infer_signature
from cato import cato_1
from lable import label_1
from outlier import out_1
from min_max import mima
from data_cleaning import cleaning

AttributeError: partially initialized module 'mlflow' from 'c:\Users\Hp\OneDrive\Desktop\python\Lib\site-packages\mlflow\__init__.py' has no attribute 'version' (most likely due to a circular import)

In [2]:
dx = pd.read_csv('C:/Users/Hp/Downloads/playground-series-s4e12/train.csv')
dz = pd.read_csv('C:/Users/Hp/Downloads/playground-series-s4e12/test.csv')

In [3]:
data_1 = dz.head(1).iloc[:,[1,2,3,5,8,9,11,13,14,17]]
data_1['Previous Claims'] = data_1['Previous Claims'].fillna(5)
data_1['Credit Score'] = data_1['Credit Score'].fillna(590)
data_1

,Age,Gender,Annual Income,Number of Dependents,Health Score,Location,Previous Claims,Credit Score,Insurance Duration,Smoking Status
0,28.0,Female,2310.0,4.0,7.657981,Rural,5.0,590.0,1.0,Yes

In [4]:
train_data_1 = cleaning(dx)
train_data = train_data_1.data_cleaning()


cato_3 = train_data

categorical_columns = ['Gender','Smoking Status']
        
cato_train_99 = cato_1(cato_3,categorical_columns)
cato_train = cato_train_99.categorical()

    
cato_train_101 = label_1(cato_train)
cato_train_1 = cato_train_101.label()

    
train_out_90 = out_1(cato_train_1)
train_out = train_out_90.Find_outlier()

    
categorical_columns_cato_train_2=[]
for cato_train_1_1 in train_out:
    categorical_columns_cato_train_2.append(cato_train_1_1)
            
cato_train_38 = mima(cato_train_1,categorical_columns_cato_train_2)
cato_train_3 = cato_train_38.min_max()

In [9]:
cato_train

,Age,Annual Income,Number of Dependents,Health Score,Location,Previous Claims,Credit Score,Insurance Duration,Premium Amount,Gender_Female,Gender_Male,Smoking Status_Yes,Smoking Status_No
0,19.0,10049.0,1.0,22.598761,Urban,2.0,372.0,5,2869.0,1.0,0.0,0.0,1.0
1,39.0,31678.0,3.0,15.569731,Rural,1.0,694.0,2,1483.0,1.0,0.0,1.0,0.0
2,23.0,25602.0,3.0,47.177549,Suburban,1.0,592.0,3,567.0,0.0,1.0,1.0,0.0
3,21.0,141855.0,2.0,10.938144,Rural,1.0,367.0,1,765.0,0.0,1.0,1.0,0.0
4,21.0,39651.0,1.0,20.376094,Rural,0.0,598.0,4,2022.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,27316.0,0.0,13.772907,Urban,1.0,372.0,3,1303.0,1.0,0.0,0.0,1.0
1199996,54.0,35786.0,2.0,11.483482,Rural,1.0,597.0,4,821.0,0.0,1.0,0.0,1.0
1199997,19.0,51884.0,0.0,14.724469,Suburban,0.0,592.0,6,371.0,0.0,1.0,0.0,1.0
1199998,55.0,32745.0,1.0,18.547381,Suburban,1.0,407.0,4,596.0,0.0,1.0,0.0,1.0
1199999,21.0,32745.0,0.0,10.125323,Rural,0.0,502.0,6,2480.0,1.0,0.0,1.0,0.0

In [43]:
cato_train_3

,Age,Number of Dependents,Health Score,Credit Score,Insurance Duration,Gender_Female,Gender_Male,Smoking Status_Yes,Smoking Status_No,Location_encoder,Annual Income,Previous Claims,Premium Amount
0,19.0,1.0,22.598761,372.0,5,1.0,0.0,0.0,1.0,2,0.066988,0.222222,0.572203
1,39.0,3.0,15.569731,694.0,2,1.0,0.0,1.0,0.0,0,0.211186,0.111111,0.293834
2,23.0,3.0,47.177549,592.0,3,0.0,1.0,1.0,0.0,1,0.170678,0.111111,0.109861
3,21.0,2.0,10.938144,367.0,1,0.0,1.0,1.0,0.0,0,0.945719,0.111111,0.149628
4,21.0,1.0,20.376094,598.0,4,0.0,1.0,1.0,0.0,0,0.264340,0.000000,0.402089
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,0.0,13.772907,372.0,3,1.0,0.0,0.0,1.0,2,0.182105,0.111111,0.257682
1199996,54.0,2.0,11.483482,597.0,4,0.0,1.0,0.0,1.0,0,0.238573,0.111111,0.160876
1199997,19.0,0.0,14.724469,592.0,6,0.0,1.0,0.0,1.0,1,0.345896,0.000000,0.070496
1199998,55.0,1.0,18.547381,407.0,4,0.0,1.0,0.0,1.0,1,0.218299,0.111111,0.115686
1199999,21.0,0.0,10.125323,502.0,6,1.0,0.0,1.0,0.0,0,0.218299,0.000000,0.494075

In [1]:
from xgboost import XGBRegressor

In [2]:
A = cato_train_3.drop('Premium Amount', axis=1)
b = cato_train_3['Premium Amount']

A = A[sorted(A.columns)]


test_data = data_1

cato_test_10  = cato_1(data_1,categorical_columns)
cato_test = cato_test_10.categorical()

    
cato_test_101  = label_1(cato_test)
cato_test_1 = cato_test_101.label()

    
A_train, A_test, b_train, b_test = train_test_split(A, b, test_size = 0.25 , random_state = 42)
        


    
regression_tree_1 = XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=5,enable_categorical=True)
regression_tree_1.fit(A_train,b_train)

NameError: name 'cato_train_3' is not defined

In [23]:
data_1

,Age,Gender,Annual Income,Number of Dependents,Health Score,Location,Previous Claims,Credit Score,Insurance Duration,Smoking Status
0,28.0,Female,2310.0,4.0,7.657981,Rural,5.0,590.0,1.0,Yes

In [22]:
cato_test

,Age,Annual Income,Number of Dependents,Health Score,Location,Previous Claims,Credit Score,Insurance Duration,Gender_Female,Gender_Male,Smoking Status_Yes,Smoking Status_No
0,28.0,2310.0,4.0,7.657981,Rural,5.0,590.0,1.0,1.0,0.0,1.0,0.0

In [8]:
B_pred = regression_tree_1.predict(A_test)
        
mae = mean_absolute_error(b_test,B_pred)
mse = mean_squared_error(b_test, B_pred)
rmse = np.sqrt(mean_squared_error(b_test, B_pred))
r2 = r2_score(b_test, B_pred)
print(mae,mse,rmse,r2)

0.1333094890452068 0.02978778376161414 0.17259137800485325 0.014370770320493387

In [9]:
A.head(1)

,Age,Annual Income,Credit Score,Gender_Female,Gender_Male,Health Score,Insurance Duration,Location_encoder,Number of Dependents,Previous Claims,Smoking Status_No,Smoking Status_Yes
0,19.0,0.066988,372.0,1.0,0.0,22.598761,5,2,1.0,0.222222,1.0,0.0

In [11]:
cato_test_1 = cato_test_1[sorted(cato_test_1.columns)]

In [12]:
cato_test_1

,Age,Annual Income,Credit Score,Gender_Female,Gender_Male,Health Score,Insurance Duration,Location_encoder,Number of Dependents,Previous Claims,Smoking Status_No,Smoking Status_Yes
0,28.0,2310.0,590.0,1.0,0.0,7.657981,1.0,0,4.0,5.0,0.0,1.0

In [ ]:
scaler = MinMaxScaler()
#col_1 =['Annual Income','Previous Claims']


    
predicted_values = regression_tree_1.predict(cato_test_1)
cato_test_1["Predicted_Target_premium_account"] = predicted_values

le = LabelEncoder()
    
    # Fit label encoder using original training data categories
le.fit(cato_3['Location'])
    
    # Apply inverse transform
cato_test_1['Location_encoder'] = le.inverse_transform(cato_test_1['Location_encoder'])

col_2 = ['Gender','Smoking Status']
col_3 = ['Gender_Female','Gender_Male','Smoking Status_No','Smoking Status_Yes']
one = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
one.fit(cato_3[col_2])
cato_test_1[col_2] = one.inverse_transform(cato_test_1[col_3])
cato_test_3 = cato_test_1.drop(cato_test_1.columns[[3,4,10,11]], axis=1)


scaler.fit(cato_3[['Premium Amount']])
cato_test_3['Predicted_Target_premium_account'] = scaler.inverse_transform(cato_test_3[['Predicted_Target_premium_account']])

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Gender
- Predicted_Target_premium_account
- Smoking Status

In [20]:
cato_test_1

,Age,Annual Income,Credit Score,Gender_Female,Gender_Male,Health Score,Insurance Duration,Location_encoder,Number of Dependents,Previous Claims,Smoking Status_No,Smoking Status_Yes,Predicted_Target_premium_account,Gender,Smoking Status
0,28.0,2310.0,590.0,1.0,0.0,7.657981,1.0,Rural,4.0,5.0,0.0,1.0,0.246895,Female,Yes

In [21]:
cato_test_3

,Age,Annual Income,Credit Score,Gender_Female,Gender_Male,Health Score,Smoking Status_No,Smoking Status_Yes,Predicted_Target_premium_account,Gender,Smoking Status
0,28.0,2310.0,590.0,1.0,0.0,7.657981,0.0,1.0,1249.289604,Female,Yes

In [14]:
cato_test_3['Predicted_Target_premium_account']

0    1249.289604
Name: Predicted_Target_premium_account, dtype: float64